/*<editor-fold desc="Sections' Title">*/
#sections-title {
  top: 20vh;
  left: 55vw;
  width: 40vw;
  text-align: right;
  /*z-index: 6 !important;*/
  z-index: 2;
  visibility: hidden;
  opacity: 0;

  transition: color .2s linear;
}
#sections-title.lifted {
  z-index: 6;
}
#sections-title h1 {
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  font-weight: 100;
  font-size: 3.5vw;
}
body[current-section="working"] #sections-title,
body[current-section="not-working"] #sections-title,
body[section-to-nav="working"] #sections-title,
body[section-to-nav="not-working"] #sections-title {
  color: var(--font-color-light);
}
#sections-title .placeholder {
  display: block;
  margin-bottom: .2em;
  position: relative;
  z-index: 4;
}
#sections-title h1 .svg-container {
  display: block;
  width: 100%;
  padding-bottom:calc(105/492 * 100%);
  background-position: bottom right;
  background-size: contain;
  background-repeat: no-repeat;

  opacity: 0;
  visibility: hidden;
  /*transition: opacity .5s linear;*/
}
/*</editor-fold>*/

/*<editor-fold desc="Stripes">*/
.bg-stripes {
  position: absolute;
  z-index: 0;
  height: var(--stripes-min-width);

  margin-top: calc(var(--stripes-min-width)/-2);

  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;

  -ms-flex-direction: column-reverse;
  -webkit-flex-direction: column-reverse;
  flex-direction: column-reverse;

  transform: rotate(90deg);
  width: 100vh;
  transform-origin: left center;
  top: 0;
  left: 50%;
}
.bg-stripes > span {
  position: relative;
  left: -101%;
  height: var(--stripe-min-width);
}
body[ready] .bg-stripes > span {
  left: 0;
}
.animating .bg-stripes > span {
  opacity: 0;
  visibility: hidden;
}
@media screen and (min-height: 768px) {
  .bg-stripes {
    height: var(--stripes-width);
    margin-top: calc(var(--stripes-width)/-2);
  }
  .bg-stripes > span {
    height: var(--stripe-width);
  }
}
@media (orientation: landscape), (min-aspect-ratio: 768/1024) {
  .bg-stripes,
  nav ul {
    transform: rotate(0deg);
    transform-origin: left center;
    text-align: right;

    width: 100vw;
    top: 65%;
    left: 0;

    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}
.bg-stripes [data-ref-id="working"] {
  background: var(--working-bg-color);
}
.bg-stripes [data-ref-id="writing"] {
  background: var(--writing-bg-color);
}
.bg-stripes [data-ref-id="speaking"] {
  background: var(--speaking-bg-color);
}
.bg-stripes [data-ref-id="not-working"] {
  background: var(--not-working-bg-color);
}
/*</editor-fold>*/

/*<editor-fold desc="Navigation">*/
nav {
  position: fixed;
  bottom: 0;
  left: calc(50% + var(--stripes-min-width)/2);
  height: var(--stripes-min-width);
  z-index:6;
  font-size: 12px;
  text-align: left;
  transform: rotate(-90deg);
  transform-origin: bottom left;
  opacity: 0;
  transition: opacity .3s linear;
}
nav ul {
  margin: 0;
  width: auto;
  height: 100%;

  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;

  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}
nav ul, nav li {
  padding: 0;
  list-style: none;
  list-style-position: outside;
}
nav li {
  margin: 0;
}
nav a {
  display: block;
  height: var(--stripe-min-width);
  line-height: var(--stripe-min-width);
  text-transform: uppercase;
  color: var(--main-bg-color);
  padding: 0 1em;
  opacity: .6;
  white-space: nowrap;
}
nav a[href="#writing"],
nav a[href="#speaking"],
body[current-section="working"] nav a[href="#working"],
body[current-section="not-working"] nav a[href="#not-working"] {
  color: var(--font-color-main);
}

body[current-section="working"] > nav a[href="#working"],
body[current-section="writing"] > nav a[href="#writing"],
body[current-section="speaking"] > nav a[href="#speaking"],
body[current-section="not-working"] > nav a[href="#not-working"] {
  color: var(--font-color-main);
  font-weight: 900;
  opacity: 1;
}

.nav-ripple {
  display: block;
  position:fixed;
  /*width: 100vh;*/
  /*height: var(--stripe-min-width);*/
  /*transform: rotate(90deg);*/
  opacity: 0;
  visibility: hidden;
  z-index: 1;
}
.nav-ripple.lift {
  z-index: 4;
}

@media screen and (min-height: 768px) {
  nav {
    left: calc(50% + var(--stripes-width)/2);
    height: var(--stripes-width);
  }
  nav a,
  .nav-ripple {
    height: var(--stripe-width);
    line-height: var(--stripe-width);
  }
  .nav-ripple {
    width: 100vw;
    right: 0;
    left: 0;
  }
}

@media (orientation: landscape), (min-aspect-ratio: 768/1024) {
  nav {
    font-size: 12px;
    top: 65vh;
    bottom: auto;
    margin-top: calc(var(--stripes-min-width)/-2);
    transform: none;
    right: 0;
    left: auto;
  }
  .nav-ripple {
    transform: rotate(0deg);
  }
}
@media (orientation: landscape) and (min-height: 768px), (min-aspect-ratio: 768/1024) and (min-height: 768px) {
  nav {
    margin-top: calc(var(--stripes-width)/-2);
  }
}
@media screen and (min-width: 1024px) {
  nav {
    font-size: 12px;
  }
}
/*</editor-fold>*/

/*<editor-fold desc="Footer">*/
footer {
  display: block;
  position: fixed;
  /*z-index:7;*/
  z-index: 5;
  bottom:2vh;
  right:0;
  font-size: 12px;
  opacity: 0;
  width: fit-content;

  transition: opacity .3s linear;

  text-align: left;

  --footer-height: 5vh;
  --button-toggle-size: 36px;
}
footer ul {
  margin: 5px;
  padding: 1em;

  padding-bottom: calc(var(--button-toggle-size)/2 + 1em);
  margin-bottom: calc(var(--button-toggle-size)/2);

  position: relative;
  overflow: hidden;
  z-index: 2;

  transform: scale(0);
  transform-origin: calc(100% - 2vh - 5px) 100%;
  opacity: 0;
  visibility: hidden;
}

footer ul:before {
  content: '';
  position: absolute;
  z-index: 1;
  background: transparent;
  width: var(--button-toggle-size);
  height: var(--button-toggle-size);
  bottom: calc(var(--button-toggle-size)/-2);
  /*left: 50%;*/
  /*margin-left: calc(var(--button-toggle-size)/-2);*/
  right: 2vh;
  border-radius: 50%;
  box-shadow: 0 0 0 100em rgba(255,255,255,.9);
}
footer li {
  list-style: none;
  position: relative;
  z-index: 2;
  /*display: inline-block;*/
}
footer li a {
  text-transform: uppercase;
  text-decoration: none;
  color: var(--font-color-main);
  padding: .3em 0 .3em 32px;
  /*padding-left: 28px;*/
  min-height: 36px;
  line-height: 1.3;

  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;

  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;

  background-color: transparent;
  background-position: 0 50%;
  background-size: 28px auto;
  background-repeat: no-repeat;
}
/*footer li a#twitter {*/
  /*background-image: url('../img/twitter-black.svg');*/
/*}*/
/*footer li a#linkedin {*/
  /*background-image: url('../img/In-Black-34px-R.png');*/
/*}*/
/*footer li a#notist {*/
  /*background-image: url('../img/notist.svg');*/
/*}*/
/*footer li a#email {*/
  /*background-size: 20px auto;*/
  /*background-image: url('../img/email.svg');*/
/*}*/
footer a strong {
  display: none
}
footer a span {
  display: block;
  max-width: 30vw;
}
footer button {
  display: block;
  width: var(--button-toggle-size);
  height: var(--button-toggle-size);
  border: none;
  border-radius: 50%;
  position: absolute;
  z-index: 2;
  bottom: 0;
  /*left: 50%;*/
  /*margin-left: calc(var(--button-toggle-size)/-2);*/
  right: calc(2vh + 5px);
  background-color: rgba(255,255,255,.3);
  background-image: url('../img/contact-icon.svg');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: auto 70%;

  outline: none;
}
footer button:hover {
  cursor: pointer;
}
footer button .ripple {
  position: absolute;
  top:50%;
  left:50%;
  border-radius: 50%;
  width:1px;
  height: 1px;
  background: rgba(255,255,255,.2);
  opacity: 0;
  visibility: hidden;
}
/*footer button .ripple {*/
/*border-radius: 50%;*/
/*}*/
/*footer li:first-child a {*/
/*padding-left: 0;*/
/*}*/
@media (orientation: portrait), (max-aspect-ratio: 767/1024) {
  footer li a#twitter {
    background-image: url('../img/twitter-black.svg');
  }
  footer li a#linkedin {
    background-image: url('../img/In-Black-34px-R.png');
  }
  footer li a#notist {
    background-image: url('../img/notist.svg');
  }
  footer li a#email {
    background-size: 20px auto;
    background-image: url('../img/email.svg');
  }
}
@media (orientation: landscape), (min-aspect-ratio: 768/1024) {
  footer {
    /*text-align: center;*/
    padding: 0;
    margin: 0;
    width: 100%;
    bottom: 0;
    /*z-index:5;*/
  }
  footer ul {
    /*padding: 0;*/
    margin: 0;
    overflow: visible;
    opacity: 1;
    visibility: visible;
    transform: none;
    border-radius: 3px;
    height: var(--footer-height);

    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;

    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;

    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
  }
  footer ul:before {
    display: none;
  }
  footer li {
    display: inline-block;
  }
  footer li a {
    padding-left: 38px;
    margin: 0 1em;
    background-size: 34px auto;
    /*transition: color .2s linear;*/
  }
  footer a strong {
    display: block;
  }
  footer a span {
    max-width: available;
  }
  footer li a#email {
    background-size: 28px auto;
  }
  footer button {
    display: none;
    background-image: none;
  }
  body[current-section='frontpage'] footer li a,
  body[current-section='writing'] footer li a,
  body[current-section='speaking'] footer li a {
    color: var(--font-color-main);
  }
  body[current-section='frontpage'] footer li a#twitter,
  body[current-section='writing'] footer li a#twitter,
  body[current-section='speaking'] footer li a#twitter {
    background-image: url('../img/twitter-black.svg');
  }
  body[current-section='frontpage'] footer li a#linkedin,
  body[current-section='writing'] footer li a#linkedin,
  body[current-section='speaking'] footer li a#linkedin {
    background-image: url('../img/In-Black-34px-R.png');
  }
  body[current-section='frontpage'] footer li a#notist,
  body[current-section='writing'] footer li a#notist,
  body[current-section='speaking'] footer li a#notist {
    background-image: url('../img/notist.svg');
  }
  body[current-section='frontpage'] footer li a#email,
  body[current-section='writing'] footer li a#email,
  body[current-section='speaking'] footer li a#email {
    background-image: url('../img/email.svg');
  }

  body[current-section='working'] footer li a,
  body[current-section='not-working'] footer li a {
    color: var(--font-color-light);
  }
  body[current-section='working'] footer li a#twitter,
  body[current-section='not-working'] footer li a#twitter {
    background-image: url('../img/twitter-white.svg');
  }
  body[current-section='working'] footer li a#linkedin,
  body[current-section='not-working'] footer li a#linkedin {
    background-image: url('../img/In-White-34px-R.png');
  }
  body[current-section='working'] footer li a#notist,
  body[current-section='not-working'] footer li a#notist {
    background-image: url('../img/notist-white.svg');
  }
  body[current-section='working'] footer li a#email,
  body[current-section='not-working'] footer li a#email {
    background-image: url('../img/email-white.svg');
  }

  /*body[current-section='writing'] footer li a,*/
  /*body[current-section='speaking'] footer li a,*/
  /*body[section-to-nav="writing"] footer li a,*/
  /*body[section-to-nav="speaking"] footer li a {*/
  /*color: var(--font-color-main);*/
  /*}*/
  /*body[current-section='writing'] footer li a#twitter,*/
  /*body[current-section='speaking'] footer li a#twitter,*/
  /*body[section-to-nav='writing'] footer li a#twitter,*/
  /*body[section-to-nav='speaking'] footer li a#twitter {*/
  /*background-image: url('../img/twitter-black.svg');*/
  /*}*/
  /*body[current-section='writing'] footer li a#linkedin,*/
  /*body[current-section='speaking'] footer li a#linkedin,*/
  /*body[section-to-nav='writing'] footer li a#linkedin,*/
  /*body[section-to-nav='speaking'] footer li a#linkedin {*/
  /*background-image: url('../img/In-Black-34px-R.png');*/
  /*}*/
  /*body[current-section='writing'] footer li a#notist,*/
  /*body[current-section='speaking'] footer li a#notist,*/
  /*body[section-to-nav='writing'] footer li a#notist,*/
  /*body[section-to-nav='speaking'] footer li a#notist {*/
  /*background-image: url('../img/notist.svg');*/
  /*}*/
  /*body[current-section='writing'] footer li a#email,*/
  /*body[current-section='speaking'] footer li a#email,*/
  /*body[section-to-nav='writing'] footer li a#email,*/
  /*body[section-to-nav='speaking'] footer li a#email {*/
  /*background-image: url('../img/email.svg');*/
  /*}*/
}


/*</editor-fold>*/

/*<editor-fold desc="Working">*/
span.working + .svg-container {
  background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 492 105" xmlns="http://www.w3.org/2000/svg"><g id="Animations" fill="none" fill-rule="evenodd"><g id="Artboard"><g id="Group-3" transform="translate(29 1)"><path d="M39 11l11 29 11-29h28l11 30 10-30 40-10v10l-31 91H89L75 67l-13 35H32L0 11V1l39 10zm149 43a8 8 0 0 0 2.6 6.4A8.7 8.7 0 0 0 197 63c2.5 0 4.6-.9 6.4-2.6A8.4 8.4 0 0 0 206 54c0-2-.2-3.2-.7-4.3a8.5 8.5 0 0 0-4.8-5 9.3 9.3 0 0 0-3.6-.7c-2.5 0-4.6.9-6.3 2.7A10.3 10.3 0 0 0 188 54zm8-44a48 48 0 0 1 24.2 6.3 45.4 45.4 0 0 1 16.9 17c2.5 4.3 5.9 8.8 5.9 13.7v10a46.2 46.2 0 0 1-70 40.6A46.5 46.5 0 0 1 150 57V47c0-6 3.4-8.8 6-13.5 4-7.2 9.6-12.9 16.9-17.1A43.9 43.9 0 0 1 196 10zm117 1c6.5 0 12.2 1.2 17.3 3.7 3.3 1.6 7.1 5 11.3 10l3.9 3.3v10.2c0 4.2-1 8-2.7 11.5-1.8 3.4-4.4 6-7.8 8.3 5 5.6 9 12.4 12 19.7a382 382 0 0 0 6 14.3v10h-42V92c-.2-6-1-10.6-4-16-4.5-8-8.6-8-14-8v34h-40V11h60zm-20 37h1c3.9 0 6.6-1.2 8.4-2.5C304 44 305 42 305 39c0-2.7-.8-5-2.5-6.6-1.6-1.6-4-2.4-7.1-2.4H293v18zm105-37v31a23.4 23.4 0 0 0 15.6-9 29 29 0 0 0 4.2-9.3c1-3.7 1.4-8 1.4-12.7L460 1v10c0 11-1.2 20.2-4.1 27.3A41.6 41.6 0 0 1 442 56c6 4.6 11 11 14.6 18.4 1.8 4 4 10 6.4 17.6v10h-44V92c0-5-2.3-11.4-5-15-4.5-6-10.2-7.8-16-8v33h-40V11h40z" id="WORK" fill="%23000"/><path d="M38.3 2H1.4l31.3 89h28.6L75 54.2 89.7 91h28.6l30.3-89h-37.9L100 34 88.3 2H61.7L50 32.8 38.3 2zM187 44c0-3.3 1-6.1 2.8-8 2-2 4.3-3 7.1-3 1.4 0 2.8.3 4 .8a9.4 9.4 0 0 1 5.3 5.5c.6 1.4.8 2.7.8 4.7 0 3-.9 5-3 7-1.8 2-4.2 3-7 3s-5.2-1-7.2-3a9 9 0 0 1-2.8-7zm9-43c-8.3 0-15.4 2-22.6 6.2-7 4.2-12.6 9.8-16.5 16.8a47 47 0 0 0 16.6 62.7A43.2 43.2 0 0 0 196 93c8.3 0 16.6-2.2 23.7-6.3A45.2 45.2 0 0 0 242 47a44.4 44.4 0 0 0-22.3-39.8A47 47 0 0 0 196 1zm58 1v89h38V57h1c5.8 0 10.6 3.1 13.5 8.6a70 70 0 0 1 5.4 25.4h40c-1-7.9-3-15.5-6-23-2.9-7.3-6.9-14-11.6-19.3l-.8-.9 1-.6c3.5-2.6 5.9-5 7.4-8a24.4 24.4 0 0 0-12-33.6 37.9 37.9 0 0 0-17-3.6H254zm40 37h-2V19h3.4c3.4 0 6 .9 7.8 2.7A9.9 9.9 0 0 1 306 29c0 3.3-1 5.7-3 7.3a14.5 14.5 0 0 1-9 2.7zM397 2h-38v89h38V58h1c13.6.5 20.8 11.5 22 33h42c-.8-10-3-18.9-6.3-26.2a48.7 48.7 0 0 0-14.3-18l-1-.8 1-.8c6.4-5 10.9-10.5 13.5-17.2 2.7-6.6 4-15.1 4.1-26h-38.8c0 4.4-.5 8.4-1.5 12a30 30 0 0 1-4.3 9.6 20 20 0 0 1-7 6.2c-3.5 2-6.4 3-9.3 3.2H397V2z" id="WORK" stroke="%23000" stroke-width="2" fill="%23fff"/></g></g></g></svg>');
}

.js section#working .bg-stripes [data-ref-id="working"]{
  background-color: var(--main-bg-color);
}
section#working .section-character {
  left: 5%;
  width: 80%;
}

.no-webp section#working .body-bg { background-image: url('../img/working-mobile.png'); }
@media screen and (min-width: 321px) {
  .no-webp section#working .body-bg { background-image: url('../img/working-mobile@2x.png'); }
}
@media screen and (min-width: 641px), screen and (min-width: 321px) and (min-resolution: 144dpi) {
  .no-webp section#working .body-bg { background-image: url('../img/working-tablet.png'); }
}
@media screen and (min-width: 805px), screen and (min-width: 641px) and (min-resolution: 144dpi) {
  .no-webp section#working .body-bg { background-image: url('../img/working.png'); }
}
@media screen and (min-width: 1024px), screen and (min-width: 805px) and (min-resolution: 144dpi) {
  .no-webp section#working .body-bg { background-image: url('../img/working-large.png'); }
}
@media screen and (min-width: 2100px) and (min-resolution: 144dpi) {
  .no-webp section#working .body-bg { background-image: url('../img/working-large@2x.png'); }
}
@media screen and (orientation: landscape) {
  .no-webp section#working .body-bg { background-image: url('../img/working-landscape-mobile.png'); }
}
@media screen and (orientation: landscape) and (min-width: 321px) {
  .no-webp section#working .body-bg { background-image: url('../img/working-landscape-mobile@2x.png'); }
}
@media screen and (orientation: landscape) and (min-width: 641px), screen and (orientation: landscape) and (min-width: 321px) and (min-resolution: 144dpi), (orientation: portrait) and (min-aspect-ratio: 768/1024) {
  .no-webp section#working .body-bg { background-image: url('../img/working-landscape-tablet.png'); }
}
@media screen and (orientation: landscape) and (min-width: 805px), screen and (orientation: landscape) and (min-width: 641px) and (min-resolution: 144dpi) {
  .no-webp section#working .body-bg { background-image: url('../img/working-landscape.png'); }
}
@media screen and (orientation: landscape) and (min-width: 1024px), screen and (orientation: landscape) and (min-width: 805px) and (min-resolution: 144dpi), (orientation: portrait) and (min-aspect-ratio: 768/1024) and (min-width: 1024px) {
  .no-webp section#working .body-bg { background-image: url('../img/working-landscape-large.png'); }
}
@media screen and (orientation: landscape) and (min-width: 2100px) and (min-resolution: 144dpi), (orientation: portrait) and (min-aspect-ratio: 768/1024) and (min-width: 2100px) and (min-resolution: 144dpi) {
  .no-webp section#working .body-bg { background-image: url('../img/working-landscape-large@2x.png'); }
}

.webp section#working .body-bg { background-image: url('../img/working-mobile.webp'); }
@media screen and (min-width: 321px) {
  .webp section#working .body-bg { background-image: url('../img/working-mobile@2x.webp'); }
}
@media screen and (min-width: 641px), screen and (min-width: 321px) and (min-resolution: 144dpi) {
  .webp section#working .body-bg { background-image: url('../img/working-tablet.webp'); }
}
@media screen and (min-width: 805px), screen and (min-width: 641px) and (min-resolution: 144dpi) {
  .webp section#working .body-bg { background-image: url('../img/working.webp'); }
}
@media screen and (min-width: 1024px), screen and (min-width: 805px) and (min-resolution: 144dpi) {
  .webp section#working .body-bg { background-image: url('../img/working-large.webp'); }
}
@media screen and (min-width: 2100px) and (min-resolution: 144dpi) {
  .webp section#working .body-bg { background-image: url('../img/working-large@2x.webp'); }
}
@media screen and (orientation: landscape) {
  .webp section#working .body-bg { background-image: url('../img/working-landscape-mobile.webp'); }
}
@media screen and (orientation: landscape) and (min-width: 321px) {
  .webp section#working .body-bg { background-image: url('../img/working-landscape-mobile@2x.webp'); }
}
@media screen and (orientation: landscape) and (min-width: 641px), screen and (orientation: landscape) and (min-width: 321px) and (min-resolution: 144dpi), (orientation: portrait) and (min-aspect-ratio: 768/1024) {
  .webp section#working .body-bg { background-image: url('../img/working-landscape-tablet.webp'); }
}
@media screen and (orientation: landscape) and (min-width: 805px), screen and (orientation: landscape) and (min-width: 641px) and (min-resolution: 144dpi) {
  .webp section#working .body-bg { background-image: url('../img/working-landscape.webp'); }
}
@media screen and (orientation: landscape) and (min-width: 1024px), screen and (orientation: landscape) and (min-width: 805px) and (min-resolution: 144dpi), (orientation: portrait) and (min-aspect-ratio: 768/1024) and (min-width: 1024px) {
  .webp section#working .body-bg { background-image: url('../img/working-landscape-large.webp'); }
}
@media screen and (orientation: landscape) and (min-width: 2100px) and (min-resolution: 144dpi), (orientation: portrait) and (min-aspect-ratio: 768/1024) and (min-width: 2100px) and (min-resolution: 144dpi) {
  .webp section#working .body-bg { background-image: url('../img/working-landscape-large@2x.webp'); }
}
/*</editor-fold>*/

/*<editor-fold desc="Writing">*/
span.writing + .svg-container {
  background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 492 105" xmlns="http://www.w3.org/2000/svg"><g id="Animations" fill="none" fill-rule="evenodd"><g id="Artboard"><g id="Group-3" transform="translate(25 2)"><g id="Group-2" fill="%23000"><path d="M298 67v34h-40V67h40z" id="Combined-Shape-Copy"/><path d="M365 89v12h-40V89h40z" id="Combined-Shape-Copy-2"/><path d="M467 89v12h-75V89h75z" id="Combined-Shape-Copy-5"/><path d="M467 21v12h-75V21h75z" id="Combined-Shape-Copy-6"/><path d="M457 55v12h-65V55h65z" id="Combined-Shape-Copy-7"/><path d="M385 38v12h-80V38h80z" id="Combined-Shape-Copy-4"/><path d="M214 10c6.5 0 12.2 1.2 17.3 3.7 3.3 1.6 7.1 5 11.3 10l3.9 3.3v10.2c0 4.2-1 8-2.7 11.5-1.8 3.4-4.4 6-7.8 8.3 5 5.6 9 12.4 12 19.7a382 382 0 0 0 6 14.3v10h-42V91c-.2-6-1-10.6-4-16-4.5-8-8.6-8-14-8v34h-40V10h60zm-20 37h1c3.9 0 6.6-1.2 8.4-2.5C205 43 206 41 206 38c0-2.7-.8-5-2.5-6.6-1.6-1.6-4-2.4-7.1-2.4H194v18z" id="Combined-Shape"/><path id="Path" fill-rule="nonzero" d="M39 10l11 29 11-29h28l11 30 10-30 40-10-1 12-30 89H89L75 66l-13 35H32L1 12 0 0z"/></g><g id="Group" fill="%23fff" stroke="%23000" stroke-width="2"><path d="M297 1h-38v88.9h38V1zM384 1h-78v38h20v51h38V39h20V1zM466 1h-73v89h73V69h-35V56h25V35h-25V22h35V1z" id="Path"/><path d="M38.3 1H1.4l31.3 89h28.6L75 53.2 89.7 90h28.6l30.3-89h-37.9L100 33 88.3 1H61.7L50 31.8 38.3 1z" id="Path" fill-rule="nonzero"/><path d="M155 1v89h38V56h1c5.8 0 10.6 3.1 13.5 8.6a70 70 0 0 1 5.4 25.4h40c-1-7.9-3-15.5-6-23-2.9-7.3-6.9-14-11.6-19.3l-.8-.9 1-.6c3.5-2.6 5.9-5 7.4-8a24.4 24.4 0 0 0-12-33.6 37.9 37.9 0 0 0-17-3.6H155zm38 37V18h3.4c3.4 0 6 .9 7.8 2.7A9.9 9.9 0 0 1 207 28c0 3.3-1 5.7-3 7.3a14.5 14.5 0 0 1-9 2.7h-2z" id="Combined-Shape"/></g></g></g></g></svg>');
}

.js section#writing .bg-stripes [data-ref-id="writing"] {
  background-color: var(--main-bg-color);
}
section#writing .section-character {
  top: 11%;
}
@media (orientation: landscape), (min-aspect-ratio: 768/1024) {
  section#writing .section-character {
    width: 60%;
    left: 5%;
  }
}

.no-webp section#writing .body-bg { background-image: url('../img/writing-mobile.png'); }
@media screen and (min-width: 321px) {
  .no-webp section#writing .body-bg { background-image: url('../img/writing-mobile@2x.png'); }
}
@media screen and (min-width: 641px), screen and (min-width: 321px) and (min-resolution: 144dpi) {
  .no-webp section#writing .body-bg { background-image: url('../img/writing-tablet.png'); }
}
@media screen and (min-width: 805px), screen and (min-width: 641px) and (min-resolution: 144dpi) {
  .no-webp section#writing .body-bg { background-image: url('../img/writing.png'); }
}
@media screen and (min-width: 1024px), screen and (min-width: 805px) and (min-resolution: 144dpi) {
  .no-webp section#writing .body-bg { background-image: url('../img/writing-large.png'); }
}
@media screen and (min-width: 2100px) and (min-resolution: 144dpi) {
  .no-webp section#writing .body-bg { background-image: url('../img/writing-large@2x.png'); }
}
@media screen and (orientation: landscape) {
  .no-webp section#writing .body-bg {
    background-image: url('../img/writing-landscape-mobile.png');
  }
}
@media screen and (orientation: landscape) and (min-width: 321px) {
  .no-webp section#writing .body-bg { background-image: url('../img/writing-landscape-mobile@2x.png'); }
}
@media screen and (orientation: landscape) and (min-width: 641px), screen and (orientation: landscape) and (min-width: 321px) and (min-resolution: 144dpi), (orientation: portrait) and (min-aspect-ratio: 768/1024) {
  .no-webp section#writing .body-bg { background-image: url('../img/writing-landscape-tablet.png'); }
}
@media screen and (orientation: landscape) and (min-width: 805px), screen and (orientation: landscape) and (min-width: 641px) and (min-resolution: 144dpi) {
  .no-webp section#writing .body-bg { background-image: url('../img/writing-landscape.png'); }
}
@media screen and (orientation: landscape) and (min-width: 1024px), screen and (orientation: landscape) and (min-width: 805px) and (min-resolution: 144dpi), (orientation: portrait) and (min-aspect-ratio: 768/1024) and (min-width: 1024px) {
  .no-webp section#writing .body-bg { background-image: url('../img/writing-landscape-large.png'); }
}
@media screen and (orientation: landscape) and (min-width: 2100px) and (min-resolution: 144dpi), (orientation: portrait) and (min-aspect-ratio: 768/1024) and (min-width: 2100px) and (min-resolution: 144dpi) {
  .no-webp section#writing .body-bg { background-image: url('../img/writing-landscape-large@2x.png'); }
}

.webp section#writing .body-bg { background-image: url('../img/writing-mobile.webp'); }
@media screen and (min-width: 321px) {
  .webp section#writing .body-bg { background-image: url('../img/writing-mobile@2x.webp'); }
}
@media screen and (min-width: 641px), screen and (min-width: 321px) and (min-resolution: 144dpi) {
  .webp section#writing .body-bg { background-image: url('../img/writing-tablet.webp'); }
}
@media screen and (min-width: 805px), screen and (min-width: 641px) and (min-resolution: 144dpi) {
  .webp section#writing .body-bg { background-image: url('../img/writing.webp'); }
}
@media screen and (min-width: 1024px), screen and (min-width: 805px) and (min-resolution: 144dpi) {
  .webp section#writing .body-bg { background-image: url('../img/writing-large.webp'); }
}
@media screen and (min-width: 2100px) and (min-resolution: 144dpi) {
  .webp section#writing .body-bg { background-image: url('../img/writing-large@2x.webp'); }
}
@media screen and (orientation: landscape) {
  .webp section#writing .body-bg {
    background-image: url('../img/writing-landscape-mobile.webp');
  }
}
@media screen and (orientation: landscape) and (min-width: 321px) {
  .webp section#writing .body-bg { background-image: url('../img/writing-landscape-mobile@2x.webp'); }
}
@media screen and (orientation: landscape) and (min-width: 641px), screen and (orientation: landscape) and (min-width: 321px) and (min-resolution: 144dpi), (orientation: portrait) and (min-aspect-ratio: 768/1024) {
  .webp section#writing .body-bg { background-image: url('../img/writing-landscape-tablet.webp'); }
}
@media screen and (orientation: landscape) and (min-width: 805px), screen and (orientation: landscape) and (min-width: 641px) and (min-resolution: 144dpi) {
  .webp section#writing .body-bg { background-image: url('../img/writing-landscape.webp'); }
}
@media screen and (orientation: landscape) and (min-width: 1024px), screen and (orientation: landscape) and (min-width: 805px) and (min-resolution: 144dpi), (orientation: portrait) and (min-aspect-ratio: 768/1024) and (min-width: 1024px) {
  .webp section#writing .body-bg { background-image: url('../img/writing-landscape-large.webp'); }
}
@media screen and (orientation: landscape) and (min-width: 2100px) and (min-resolution: 144dpi), (orientation: portrait) and (min-aspect-ratio: 768/1024) and (min-width: 2100px) and (min-resolution: 144dpi) {
  .webp section#writing .body-bg { background-image: url('../img/writing-landscape-large@2x.webp'); }
}

/*</editor-fold>*/

/*<editor-fold desc="Speaking">*/
span.speaking + .svg-container {
  background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 492 105" xmlns="http://www.w3.org/2000/svg"><g id="Animations" fill="none" fill-rule="evenodd"><g id="Artboard"><g id="Group-4" transform="translate(0 2)" fill="%23000"><path d="M427 10v31a23.4 23.4 0 0 0 15.6-9 29 29 0 0 0 4.2-9.3c1-3.7 1.4-8 1.4-12.7L489 0v10c0 11-1.2 20.2-4.1 27.3A41.6 41.6 0 0 1 471 55c6 4.6 11 11 14.6 18.4 1.8 4 4 10 6.4 17.6v10h-44V91c0-5-2.3-11.4-5-15-4.5-6-10.2-7.8-16-8v33h-40V10h40z" id="Path" fill-rule="nonzero"/><path d="M48 8.7a100.8 100.8 0 0 1 19.2 1.7c3.3.5 6.5 1.2 9.3 1.9 1.2.3 3.9-2.1 7.9-7.3v9.7l-10 28.7a37 37 0 0 0-10.5-9.8 23 23 0 0 0-12.1-3.5c-2.5 0-4.3.5-5.4 1.5a5 5 0 0 0-1.7 3.8c0 1.4 1 2.8 3.3 4.1 2.1 1.3 5.5 2.8 10 4.6 11.8 4.3 19.4 8.6 22.9 12.9 2.1 2.7 4.1 3 5.1 6v9.6c0 9.6-3.7 17-11 22.2-7.4 5.1-18.3 7.7-32.8 7.7A104.8 104.8 0 0 1 0 95v-9l10.5-20.7c2.8 4.3 6.3 7.8 10.6 10.5 4.2 2.7 8.2 4 12.2 4 2 0 3.5-.5 4.8-1.5 1.3-1 2-2.2 2-3.6 0-1.8-1-3.3-2.8-4.6A39.8 39.8 0 0 0 29 66 47.3 47.3 0 0 1 9.6 54.5 24 24 0 0 1 4 39v-9a28 28 0 0 1 11.4-13.7c7.3-5 18.1-7.6 32.5-7.6z" id="Path"/><path d="M183 38c0 6-.8 13.6-3.5 18.3A30.1 30.1 0 0 1 143 69.7 52.4 52.4 0 0 1 132 63v38H92V10h56a51 51 0 0 1 18 3.6c2.7 1.2 5 2.7 7.2 4.5 2.2 1.8 4 4 5.6 6.4 1.6 2.4 3 4.3 4.2 5.5v8zm-51 11c2 1 3 1 4 1 2 0 2.7-.2 4-.7a9.3 9.3 0 0 0 5.3-5.4 12.2 12.2 0 0 0-1.7-11.5c-1.6-1.8-3.7-2.4-6.6-2.4h-5v19z" id="Combined-Shape"/><path id="Path" d="M263 10v23h-35v11h25v23h-25v11h35v23h-75V10z"/><path d="M352 10l32 81v10h-40l-5-15h-30l-5 15h-40V91l31-81h57zm-36 54h16l-8-22h-1l-7 22z" id="Combined-Shape"/></g><g id="Group-5" fill="%23fff" stroke="%23000" stroke-width="2"><path d="M426 3h-38v89h38V59h1c13.6.5 20.8 11.5 22 33h42c-.8-10-3-18.9-6.3-26.2a48.7 48.7 0 0 0-14.3-18l-1-.8 1-.8c6.4-5 10.9-10.5 13.5-17.2 2.7-6.6 4-15.1 4.1-26h-38.8c0 4.4-.5 8.4-1.5 12a30 30 0 0 1-4.3 9.6 20 20 0 0 1-7 6.2c-3.5 2-6.4 3-9.3 3.2H426V3z" id="Path" fill-rule="nonzero"/><path d="M10.8 59.5L1.3 87.4c5.4 2 11.5 3.3 19.5 4.6a142 142 0 0 0 21.4 1.5c14.3 0 25-2.5 32.2-7.5C81.5 81 85 74.2 85 65c0-6-1.7-11.4-5-15.4-3.2-4.1-10.7-8.3-22.4-12.6-4.5-1.7-8-3.3-10.2-4.6-2.4-1.5-3.7-3.1-3.7-5a6 6 0 0 1 2-4.5c1.3-1.2 3.4-1.8 6-1.8a24 24 0 0 1 12.7 3.6 37 37 0 0 1 9.6 8.6l9.1-26A116.3 116.3 0 0 0 48 1.6c-14.2 0-24.8 2.6-32 7.5A25 25 0 0 0 5 31a23 23 0 0 0 5.4 14.8c3.3 4 9.6 7.8 18.9 11.2 3.9 1.5 6.7 3 8.6 4.3 2 1.5 3.2 3.3 3.2 5.4 0 1.8-.8 3.3-2.4 4.4a8.8 8.8 0 0 1-5.4 1.7c-4.2 0-8.4-1.4-12.8-4.2-3.8-2.3-7-5.4-9.7-9.1z" id="Path"/><path d="M93 3v89h38V53l1.6 1.2c4.1 3 8 5.4 10.8 6.5a28.7 28.7 0 0 0 35.2-13 27.8 27.8 0 0 0 3.4-15v-.3-.4c-.1-6-1.4-10.9-4-15a26.5 26.5 0 0 0-5.4-6.1c-2.1-1.8-4.4-3.2-7-4.4A49.9 49.9 0 0 0 148 3H93zm38 38.6V21h6c3.3 0 5.5.8 7.3 2.7a13.2 13.2 0 0 1 1.9 12.6 10.3 10.3 0 0 1-5.9 5.9c-1.6.6-2.4.8-4.3.8-1.6 0-2.6-.2-4.4-1.1l-.6-.3z" id="Combined-Shape"/><path d="M262 3h-73v89h73V71h-35V58h25V37h-25V24h35V3z" id="Path"/><path d="M351.3 3h-55.6l-30.3 89h37.9l5-15h31.4l5 15h37.9L351.3 3zm-36.7 54l7.7-24h2.4l8.7 24h-18.8z" id="Combined-Shape"/></g></g></g></svg>');
}

.js section#speaking .bg-stripes [data-ref-id="speaking"] {
  background-color: var(--main-bg-color);
}
section#speaking .section-character {
  left: 5%;
}

@media screen and (orientation: portrait), (orientation: landscape) and (min-aspect-ratio: 724/723) and (max-aspect-ratio: 827/723) {
  section#speaking .body-contour {
    width: 103%;
    max-width: inherit;
  }
}

.no-webp section#speaking .body-bg { background-image: url('../img/speaking-mobile.png'); }
@media screen and (min-width: 321px) {
  .no-webp section#speaking .body-bg { background-image: url('../img/speaking-mobile@2x.png'); }
}
@media screen and (min-width: 641px), screen and (min-width: 321px) and (min-resolution: 144dpi) {
  .no-webp section#speaking .body-bg { background-image: url('../img/speaking-tablet.png'); }
}
@media screen and (min-width: 805px), screen and (min-width: 641px) and (min-resolution: 144dpi) {
  .no-webp section#speaking .body-bg { background-image: url('../img/speaking.png'); }
}
@media screen and (min-width: 1024px), screen and (min-width: 805px) and (min-resolution: 144dpi) {
  .no-webp section#speaking .body-bg { background-image: url('../img/speaking-large.png'); }
}
@media screen and (min-width: 2100px) and (min-resolution: 144dpi) {
  .no-webp section#speaking .body-bg { background-image: url('../img/speaking-large@2x.png'); }
}

@media screen and (orientation: landscape), (min-aspect-ratio: 768/1024) {
  .no-webp section#speaking .body-bg {
    background-image: url('../img/speaking-landscape-mobile.png');
  }
}
@media screen and (orientation: landscape) and (min-width: 321px) {
  .no-webp section#speaking .body-bg { background-image: url('../img/speaking-landscape-mobile@2x.png'); }
}
@media screen and (orientation: landscape) and (min-width: 641px), screen and (orientation: landscape) and (min-width: 321px) and (min-resolution: 144dpi), (orientation: portrait) and (min-aspect-ratio: 768/1024) {
  .no-webp section#speaking .body-bg { background-image: url('../img/speaking-landscape-tablet.png'); }
}
@media screen and (orientation: landscape) and (min-width: 805px), screen and (orientation: landscape) and (min-width: 641px) and (min-resolution: 144dpi) {
  .no-webp section#speaking .body-bg { background-image: url('../img/speaking-landscape.png'); }
}
@media screen and (orientation: landscape) and (min-width: 1024px), screen and (orientation: landscape) and (min-width: 805px) and (min-resolution: 144dpi), (orientation: portrait) and (min-aspect-ratio: 768/1024) and (min-width: 1024px) {
  .no-webp section#speaking .body-bg { background-image: url('../img/speaking-landscape-large.png'); }
}
@media screen and (orientation: landscape) and (min-width: 2100px) and (min-resolution: 144dpi), (orientation: portrait) and (min-aspect-ratio: 768/1024) and (min-width: 2100px) and (min-resolution: 144dpi) {
  .no-webp section#speaking .body-bg { background-image: url('../img/speaking-landscape-large@2x.png'); }
}

.webp section#speaking .body-bg { background-image: url('../img/speaking-mobile.webp'); }
@media screen and (min-width: 321px) {
  .webp section#speaking .body-bg { background-image: url('../img/speaking-mobile@2x.webp'); }
}
@media screen and (min-width: 641px), screen and (min-width: 321px) and (min-resolution: 144dpi) {
  .webp section#speaking .body-bg { background-image: url('../img/speaking-tablet.webp'); }
}
@media screen and (min-width: 805px), screen and (min-width: 641px) and (min-resolution: 144dpi) {
  .webp section#speaking .body-bg { background-image: url('../img/speaking.webp'); }
}
@media screen and (min-width: 1024px), screen and (min-width: 805px) and (min-resolution: 144dpi) {
  .webp section#speaking .body-bg { background-image: url('../img/speaking-large.webp'); }
}
@media screen and (min-width: 2100px) and (min-resolution: 144dpi) {
  .webp section#speaking .body-bg { background-image: url('../img/speaking-large@2x.webp'); }
}

@media screen and (orientation: landscape), (min-aspect-ratio: 768/1024) {
  .webp section#speaking .body-bg {
    background-image: url('../img/speaking-landscape-mobile.webp');
  }
}
@media screen and (orientation: landscape) and (min-width: 321px) {
  .webp section#speaking .body-bg { background-image: url('../img/speaking-landscape-mobile@2x.webp'); }
}
@media screen and (orientation: landscape) and (min-width: 641px), screen and (orientation: landscape) and (min-width: 321px) and (min-resolution: 144dpi), (orientation: portrait) and (min-aspect-ratio: 768/1024) {
  .webp section#speaking .body-bg { background-image: url('../img/speaking-landscape-tablet.webp'); }
}
@media screen and (orientation: landscape) and (min-width: 805px), screen and (orientation: landscape) and (min-width: 641px) and (min-resolution: 144dpi) {
  .webp section#speaking .body-bg { background-image: url('../img/speaking-landscape.webp'); }
}
@media screen and (orientation: landscape) and (min-width: 1024px), screen and (orientation: landscape) and (min-width: 805px) and (min-resolution: 144dpi), (orientation: portrait) and (min-aspect-ratio: 768/1024) and (min-width: 1024px) {
  .webp section#speaking .body-bg { background-image: url('../img/speaking-landscape-large.webp'); }
}
@media screen and (orientation: landscape) and (min-width: 2100px) and (min-resolution: 144dpi), (orientation: portrait) and (min-aspect-ratio: 768/1024) and (min-width: 2100px) and (min-resolution: 144dpi) {
  .webp section#speaking .body-bg { background-image: url('../img/speaking-landscape-large@2x.webp'); }
}
/*</editor-fold>*/

/*<editor-fold desc="Not-Working">*/
#sections-title span.not-working + .svg-container {
  background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 492 214" xmlns="http://www.w3.org/2000/svg"><g id="Animations" fill="none" fill-rule="evenodd"><g id="Artboard"><g id="Group-9" transform="translate(102)"><g id="Group-8" fill="%23000"><path id="Path" d="M40 10v33h20V10h40v91H60V67H40v34H0V10zM249 10l10 31h1l10-31 40-10-2 12-30 89h-37l-30-91-2-10zM196 122v23h-35v17h26v22.1h-26V213h-40v-91zM293 122v42c0 18-3 23.2-4.8 26.8A39 39 0 0 1 272 208c-7.3 4.2-15.4 6-24 6-8 0-15.6-1.6-22.9-5.6-7.3-4-12.8-9.4-16.6-16.4a57 57 0 0 1-5.5-28v-42h40v40c0 4 0 13 5 13s5-9 5-13v-40h40zM329 122l20 31h1v-31h40v91h-30l-19-28h-1v28h-40v-91z"/><path d="M194 10l32 81v10h-40l-5-15h-30l-5 15h-40V91l31-81h57zm-36 54h16l-8-23h-1l-7 23z" id="Combined-Shape"/><path id="Path" d="M390 10v23h-35v11h25v23h-25v11h35v23h-75V10z"/></g><g id="Group-7" fill="%23fff" stroke="%23000" stroke-width="2"><path d="M39 1H1v89h38V56h22v34h38V1H61v33H39V1zM248.3 1h-37.9l30.3 89h37.6l30.3-89h-37.9l-10 31h-2.4l-10-31zM195 113h-73v89h38v-28.9h26V153h-26v-19h35v-21zM292 113h-38v39c0 2.5 0 4-.2 5.7-.6 5.1-2.3 8.3-5.8 8.3s-5.2-3.2-5.8-8.3c-.2-1.8-.2-3.2-.2-5.7v-39h-38v41c0 12.2 1.7 20.5 5.4 27.5 3.7 6.8 9 12.2 16.2 16A45.5 45.5 0 0 0 248 203a45.2 45.2 0 0 0 32.8-13.2 38 38 0 0 0 8.2-13.3c2-4.9 3-11.7 3-22.5v-41zM328.5 113H301v89h38v-28h2.5l19 28H389v-89h-38v31h-2.5l-20-31z" id="Path"/><path d="M193.3 1h-55.6l-30.3 89h37.9l5-15h31.4l5 15h37.9L193.3 1zm-36.7 54l7.7-24h2.4l8.7 24h-18.8z" id="Combined-Shape"/><path d="M389 1h-73v89h73V69h-35V56h25V35h-25V22h35V1z" id="Path"/></g></g></g></g></svg>');
  padding-bottom:calc(214/492 * 100%);
}

.js section#not-working .bg-stripes [data-ref-id="not-working"] {
  background-color: var(--main-bg-color);
}

section#not-working .body-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.no-webp section#not-working .body-bg:not(.sad):not(.artefacts) { background-image: url('../img/not-working-mobile.png'); }
@media screen and (min-width: 321px) {
  .no-webp section#not-working .body-bg:not(.sad):not(.artefacts) { background-image: url('../img/not-working-mobile@2x.png'); }
}
@media screen and (min-width: 641px), screen and (min-width: 321px) and (min-resolution: 144dpi) {
  .no-webp section#not-working .body-bg:not(.sad):not(.artefacts) { background-image: url('../img/not-working-tablet.png'); }
}
@media screen and (min-width: 805px), screen and (min-width: 641px) and (min-resolution: 144dpi) {
  .no-webp section#not-working .body-bg:not(.sad):not(.artefacts) { background-image: url('../img/not-working.png'); }
}
@media screen and (min-width: 1024px), screen and (min-width: 805px) and (min-resolution: 144dpi) {
  .no-webp section#not-working .body-bg:not(.sad):not(.artefacts) { background-image: url('../img/not-working-large.png'); }
}
@media screen and (min-width: 1024px) and (min-resolution: 144dpi) {
  .no-webp section#not-working .body-bg:not(.sad):not(.artefacts) { background-image: url('../img/not-working-large@2x.png'); }
}
@media screen and (orientation: landscape) {
  .no-webp section#not-working .body-bg:not(.sad):not(.artefacts) { background-image: url('../img/not-working-landscape-mobile.png'); }
}
@media screen and (orientation: landscape) and (min-width: 321px) {
  .no-webp section#not-working .body-bg:not(.sad):not(.artefacts) { background-image: url('../img/not-working-landscape-mobile@2x.png'); }
}
@media screen and (orientation: landscape) and (min-width: 641px), screen and (orientation: landscape) and (min-width: 321px) and (min-resolution: 144dpi), (orientation: portrait) and (min-aspect-ratio: 768/1024) {
  .no-webp section#not-working .body-bg:not(.sad):not(.artefacts) { background-image: url('../img/not-working-landscape-tablet.png'); }
}
@media screen and (orientation: landscape) and (min-width: 805px), screen and (orientation: landscape) and (min-width: 641px) and (min-resolution: 144dpi) {
  .no-webp section#not-working .body-bg:not(.sad):not(.artefacts) { background-image:  url('../img/not-working-landscape.png'); }
}
@media screen and (orientation: landscape) and (min-width: 1024px), screen and (orientation: landscape) and (min-width: 805px) and (min-resolution: 144dpi), (orientation: portrait) and (min-aspect-ratio: 768/1024) and (min-width: 1024px) {
  .no-webp section#not-working .body-bg:not(.sad):not(.artefacts) { background-image: url('../img/not-working-landscape-large.png'); }
}
@media screen and (orientation: landscape) and (min-width: 2100px) and (min-resolution: 144dpi), (orientation: portrait) and (min-aspect-ratio: 768/1024) and (min-width: 2100px) and (min-resolution: 144dpi) {
  .no-webp section#not-working .body-bg:not(.sad):not(.artefacts) { background-image: url('../img/not-working-landscape-large@2x.png'); }
}


.webp section#not-working .body-bg:not(.sad):not(.artefacts) { background-image: url('../img/not-working-mobile.webp'); }
@media screen and (min-width: 321px) {
  .webp section#not-working .body-bg:not(.sad):not(.artefacts) { background-image: url('../img/not-working-mobile@2x.webp'); }
}
@media screen and (min-width: 641px), screen and (min-width: 321px) and (min-resolution: 144dpi) {
  .webp section#not-working .body-bg:not(.sad):not(.artefacts) { background-image: url('../img/not-working-tablet.webp'); }
}
@media screen and (min-width: 805px), screen and (min-width: 641px) and (min-resolution: 144dpi) {
  .webp section#not-working .body-bg:not(.sad):not(.artefacts) { background-image: url('../img/not-working.webp'); }
}
@media screen and (min-width: 1024px), screen and (min-width: 805px) and (min-resolution: 144dpi) {
  .webp section#not-working .body-bg:not(.sad):not(.artefacts) { background-image: url('../img/not-working-large.webp'); }
}
@media screen and (min-width: 1024px) and (min-resolution: 144dpi) {
  .webp section#not-working .body-bg:not(.sad):not(.artefacts) { background-image: url('../img/not-working-large@2x.webp'); }
}
@media screen and (orientation: landscape) {
  .webp section#not-working .body-bg:not(.sad):not(.artefacts) { background-image: url('../img/not-working-landscape-mobile.webp'); }
}
@media screen and (orientation: landscape) and (min-width: 321px) {
  .webp section#not-working .body-bg:not(.sad):not(.artefacts) { background-image: url('../img/not-working-landscape-mobile@2x.webp'); }
}
@media screen and (orientation: landscape) and (min-width: 641px), screen and (orientation: landscape) and (min-width: 321px) and (min-resolution: 144dpi), (orientation: portrait) and (min-aspect-ratio: 768/1024) {
  .webp section#not-working .body-bg:not(.sad):not(.artefacts) { background-image: url('../img/not-working-landscape-tablet.webp'); }
}
@media screen and (orientation: landscape) and (min-width: 805px), screen and (orientation: landscape) and (min-width: 641px) and (min-resolution: 144dpi) {
  .webp section#not-working .body-bg:not(.sad):not(.artefacts) { background-image:  url('../img/not-working-landscape.webp'); }
}
@media screen and (orientation: landscape) and (min-width: 1024px), screen and (orientation: landscape) and (min-width: 805px) and (min-resolution: 144dpi), (orientation: portrait) and (min-aspect-ratio: 768/1024) and (min-width: 1024px) {
  .webp section#not-working .body-bg:not(.sad):not(.artefacts) { background-image: url('../img/not-working-landscape-large.webp'); }
}
@media screen and (orientation: landscape) and (min-width: 2100px) and (min-resolution: 144dpi), (orientation: portrait) and (min-aspect-ratio: 768/1024) and (min-width: 2100px) and (min-resolution: 144dpi) {
  .webp section#not-working .body-bg:not(.sad):not(.artefacts) { background-image: url('../img/not-working-landscape-large@2x.webp'); }
}



/*section#not-working .body-bg.sad { background-image: url('../img/not-working-sad-mobile.png'); }*/
/*@media screen and (min-width: 321px) {*/
  /*section#not-working .body-bg.sad { background-image: url('../img/not-working-sad-mobile@2x.png'); }*/
/*}*/
/*@media screen and (min-width: 641px), screen and (min-width: 321px) and (min-resolution: 144dpi) {*/
  /*section#not-working .body-bg.sad { background-image: url('../img/not-working-sad-tablet.png'); }*/
/*}*/
/*@media screen and (min-width: 805px), screen and (min-width: 641px) and (min-resolution: 144dpi) {*/
  /*section#not-working .body-bg.sad { background-image: url('../img/not-working-sad.png'); }*/
/*}*/
/*@media screen and (min-width: 1024px), screen and (min-width: 805px) and (min-resolution: 144dpi) {*/
  /*section#not-working .body-bg.sad { background-image: url('../img/not-working-sad-large.png'); }*/
/*}*/
/*@media screen and (min-width: 1024px) and (min-resolution: 144dpi) {*/
  /*section#not-working .body-bg.sad { background-image: url('../img/not-working-sad-large@2x.png'); }*/
/*}*/
/*@media screen and (orientation: landscape) {*/
  /*section#not-working .body-bg.sad { background-image: url('../img/not-working-sad-landscape-mobile.png'); }*/
/*}*/
/*@media screen and (orientation: landscape) and (min-width: 321px) {*/
  /*section#not-working .body-bg.sad { background-image: url('../img/not-working-sad-landscape-mobile@2x.png'); }*/
/*}*/
/*@media screen and (orientation: landscape) and (min-width: 641px), screen and (orientation: landscape) and (min-width: 321px) and (min-resolution: 144dpi), (orientation: portrait) and (min-aspect-ratio: 768/1024) {*/
  /*section#not-working .body-bg.sad { background-image: url('../img/not-working-sad-landscape-tablet.png'); }*/
/*}*/
/*@media screen and (orientation: landscape) and (min-width: 805px), screen and (orientation: landscape) and (min-width: 641px) and (min-resolution: 144dpi) {*/
  /*section#not-working .body-bg.sad { background-image: url('../img/not-working-sad-landscape.png'); }*/
/*}*/
/*@media screen and (orientation: landscape) and (min-width: 1024px), screen and (orientation: landscape) and (min-width: 805px) and (min-resolution: 144dpi), (orientation: portrait) and (min-aspect-ratio: 768/1024) and (min-width: 1024px) {*/
  /*section#not-working .body-bg.sad { background-image: url('../img/not-working-sad-landscape-large.png'); }*/
/*}*/
/*!*@media screen and (orientation: landscape) and (min-width: 1024px) and (min-resolution: 144dpi), (orientation: portrait) and (min-aspect-ratio: 768/1024) and (min-width: 1024px) and (min-resolution: 144dpi) {*!*/
  /*!*section#not-working .body-bg.sad { background-image: url('../img/not-working-sad-landscape-large@2x.png'); }*!*/
/*!*}*!*/



/*section#not-working .body-bg.artefacts { background-image: url('../img/not-working-artefacts-mobile.png'); }*/
/*@media screen and (min-width: 321px) {*/
  /*section#not-working .body-bg.artefacts { background-image: url('../img/not-working-artefacts-mobile@2x.png'); }*/
/*}*/
/*@media screen and (min-width: 641px), screen and (min-width: 321px) and (min-resolution: 144dpi) {*/
  /*section#not-working .body-bg.artefacts { background-image: url('../img/not-working-artefacts-tablet.png'); }*/
/*}*/
/*@media screen and (min-width: 805px), screen and (min-width: 641px) and (min-resolution: 144dpi) {*/
  /*section#not-working .body-bg.artefacts { background-image: url('../img/not-working-artefacts.png'); }*/
/*}*/
/*@media screen and (min-width: 1024px), screen and (min-width: 805px) and (min-resolution: 144dpi) {*/
  /*section#not-working .body-bg.artefacts { background-image: url('../img/not-working-artefacts-large.png'); }*/
/*}*/
/*@media screen and (min-width: 1024px) and (min-resolution: 144dpi) {*/
  /*section#not-working .body-bg.artefacts { background-image: url('../img/not-working-artefacts-large@2x.png'); }*/
/*}*/
/*</editor-fold>*/

.js section:not([ready]):not(#frontpage) .body-bg {background-image: none}
